<!DOCTYPE html>
<html>
<head>
  <title>Cleff</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div align="right" width=75>
  <h4><%= (current_user.nil? ? "Nobody" : current_user.email) %> is logged in.</h4>
	<% if current_user.nil? %>
	  <%= link_to "Sign In", new_session_url %> or
		<%= link_to "Sign Up", new_user_url %>
	<% else %>
		<%= button_to "Logout", session_url, method: :delete %>
	<% end %>
</div>

<%= yield %>

</body>
</html>
